---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import HeroSection from '../components/HeroSection.astro';
import SkillsSection from '../components/SkillsSection';
import ExperienceSection from '../components/ExperienceSection';
import AboutSection from '../components/AboutSection';
import ContactSection from '../components/ContactSection';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="min-h-screen bg-background">
    <Navigation client:load />
    <main>
      <HeroSection />
      <SkillsSection client:visible />
      <ExperienceSection client:visible />
      <AboutSection client:visible />
      <ContactSection client:visible />
    </main>
    <Footer />
  </div>
</Layout>
